<div class="col-md-12">
<collapsible-table [type]="'accordion'" class="table table-striped hideOverflow"
>
    <thead>
        <collapsible-table-row >
            <ng-container *ngFor="let column of column">
                <th>{{column}}</th>
            </ng-container>
            
        </collapsible-table-row>
    </thead>
    <tbody>   
        <ng-container *ngFor="let user of user">
            <collapsible-table-row [detail]="user1">
                <td *ngIf="user.name">{{ user.name.title }} {{ user.name.first }} {{ user.name.last }}</td>
                <td *ngIf="user.gender">{{user.gender}}</td>
                <td *ngIf="user.nat" >{{user.nat}}</td>
                <td  *ngIf="user.registered.age">{{user.registered.age}}</td>
                <td *ngIf="user.dob.age">{{user.dob.age}}</td>
                <td  *ngIf="user.phone">{{user.phone}}</td>
            </collapsible-table-row>
            <collapsible-table-row-detail #user1>
                <div class="card border">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex flex-column align-items-center text-center">
                                        <img src="{{ user.picture.large }}" class="img-fluid" alt="Display picture">
                                        <div class="mt-3">
                                            <h4 *ngIf="user.name" >{{ user.name.title }} {{ user.name.first }} {{ user.name.last }}</h4>
                                            <p class="text-secondary mb-1" *ngIf="user.phone">{{ user.phone }}</p>
                                            <p class="text-muted font-size-sm" *ngIf="user.email">{{ user.email }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="row" *ngIf="user.name">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Name</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            {{ user.name.title }} {{ user.name.first }} {{ user.name.last }}
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row" *ngIf="user.email">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Email</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            {{ user.email }}
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row" *ngIf="user.phone">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Phone</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            {{ user.phone }}
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row" *ngIf="user.gender">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Gender</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            {{ user.gender }}
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row" *ngIf="user.location">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Location</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary" style=" word-wrap: break-word;">
                                           <ul><strong>Country:</strong> {{ user.location.country }}</ul>
                                           <ul><strong>City:</strong> {{ user.location.city }}</ul>
                                           <ul><strong>State:</strong> {{ user.location.state }}</ul>
                                           <ul><strong>Postcode:</strong> {{ user.location.postcode }}</ul>
                                           <ul><strong>Latitude:</strong> {{ user.location.coordinates.latitude }}</ul>
                                           <ul><strong>Longitude:</strong> {{ user.location.coordinates.longitude }}</ul>
                                        </div>
                                    </div>
                                    <hr>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                </div>
            </collapsible-table-row-detail>
        </ng-container>
        <ng-content></ng-content><!--Content Projection for the loading bar-->
    </tbody>
</collapsible-table>
</div>